@use "../abstract/" as *;
@use "../base/" as *;

.contactBanner {
  padding: 7rem 0;
  position: relative;
  @include mediaQuery(520px){
    padding: unset;
    padding-top: 13rem;
  }
  &__title {
    max-width: 50rem;
    margin-bottom: 2rem;
  }

  &__wrapper {
    @include gridCustom(1.5fr 1fr, 5rem);

    @include mediaQuery(520px) {
      @include gridCustom(1fr, 3rem);
    }
  }
  &__left {
    form {
      display: flex;
      flex-direction: column;
      input {
        margin: 0.5rem 0 2rem;
        width: 100%;
        padding: 1rem;
        background-color: $clr--dark;
      }
      textarea {
        @extend input;
        height: 10rem;
      }
      input::placeholder {
        font-family: $font-primary;
        color: $clr--light;
      }
      input:focus,
      input:enabled {
        color: $clr--light;
      }
    }
    &--name {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__right {
    padding: 4rem;
    background-color: $clr--light;
    border: 1px solid $clr--dark;
    height: fit-content;
    width: fit-content;
    &::after {
      position: absolute;
      display: inline-block;
      content: " ";
      background-color: $clr--dark;
      width: 60rem;
      height: 90vh;
      right: 1rem;
      bottom: 1rem;
      z-index: -9;
      @include mediaQuery(520px) {
        position: unset;
        content: " ";
        background-color: unset;
        width: 1rem;
        height: 1rem;
        padding: 2rem;
      }
    }
  }
}

.contactFaq {
  padding: 4rem 0;
  &__wrapper {
    display: flex;
    font-display: row;
    gap: 5rem;
    @include mediaQuery(520px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__left {
    h2 {
      margin-bottom: 2rem;
    }
    max-width: 30rem;
  }
  &__item {
    border-bottom: 1px solid $clr--gray;
    padding: 1.5rem 0;
    &--question {
      @include between();
      cursor: pointer;
      i {
        transition: 0.5s ease;
      }
    }
    &.active {
      i {
        transform: rotate(180deg);
      }
      .contactFaq__item--answer {
        max-height: 1000px;
      }
    }

    &--answer {
      max-height: 0;
      overflow: hidden;
      transition: 0.5s ease;
      margin-top: 2rem;

      .contactFaq__item.active {
        opacity: 1;
        padding-top: 1rem;
        max-height: 1000px;
      }
    }
  }
}
