@use "../abstract/" as *;

.homeBanner {
  padding: 4rem 0;
  color: $clr--light;

  &__wrapper {
    @include gridFixed(2, 1rem);
    align-items: center;

    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
    }
    .homeBanner__left h1 {
      padding-top: 2rem;
    }
  }
  &__left {
    small {
      text-transform: uppercase;
    }
    h1 {
      font-size: clamp(3rem, 7vw, 4.5rem);
      line-height: 4rem;
      margin: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}
@include mediaQuery(520px) {
  .homeBanner {
    padding-top: 13rem;
    h1 {
      margin: unset;
    }
    &__wrapper {
      .apos {
        grid-area: a;
      }
      .bpos {
        grid-area: b;
      }
      grid-template-areas: 
      "b b"
      "a a";
    }
  }
}

.homeAbout {
  padding: 4rem 0;
  &__wrapper {
    @include gridFixed(2, 3rem);
    align-items: center;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &--a {
    grid-area: a;
  }
  &--b {
    grid-area: b;
  }
  &--c {
    grid-area: c;
  }
  &__left {
    ul {
      display: grid;
      grid-template-areas:
        "a c"
        "b c";
      align-items: center;
      gap: 1rem;
    }
  }
  &__right {
    h2 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.homeClass {
  @include mediaQuery(520px) {
    .container {
      padding: unset;
    }
  }
  padding: 4rem;
  &__slider {
    display: flex;
    gap: 2rem;
  }
  .listButton {
    margin-top: 2rem;
    @include centerAll();
  }
}

.homeTrainer {
  @include mediaQuery(520px) {
    .container {
      padding: unset;
    }
  }
  padding: 4rem;
  &__title {
    @include between;
    margin-bottom: 2rem;
    .h2 {
      max-width: 40rem;
    }
    @include mediaQuery(520px) {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      h2 {
        text-align: center;
      }
    }
  }

  &__cards {
    @include gridFixed(3, 1rem);
    gap: 2rem;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
}

.cardIcon {
  @include centerAll;
  flex-direction: column;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  img {
    width: 7rem;
  }
  &__details {
    h4 {
      margin: 1.5rem 0;
    }
  }
}
