@use "../abstract/" as *;

.homeBanner {
  padding: 4rem 0;
  color: $clr--light;
  &__wrapper {
    @include gridFixed(2, 1rem);
    align-items: center;
  }
  &__left {
    small {
      text-transform: uppercase;
    }
    h1 {
      font-size: clamp(3rem, 7vw, 4.5rem);
      line-height: 4rem;
      margin: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.homeAbout {
  padding: 4rem 0;
  &__wrapper {
    @include gridFixed(2, 3rem);
    align-items: center;
  }
  &--a {
    grid-area: a;
  }
  &--b {
    grid-area: b;
  }
  &--c {
    grid-area: c;
  }
  &__left {
    ul {
      display: grid;
      grid-template-areas:
        "a c"
        "b c";
      align-items: center;
      gap: 1rem;
    }
  }
  &__right {
    h2 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.homeClass {
  padding: 4rem;
  &__slider {
    display: flex;
    gap: 2rem;
  }
  .listButton {
    margin-top: 2rem;
    @include centerAll();
  }
}

.homeTrainer {
  padding: 4rem;
  &__title {
    @include between;
    margin-bottom: 2rem;
    .h2 {
      max-width: 40rem;
    }
  }

  &__cards {
    @include gridFixed(3, 1rem);
    gap: 2rem;
  }
}

.cardIcon {
  @include centerAll;
  flex-direction: column;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  img {
    width: 7rem;
  }
  &__details {
    h4 {
      margin: 1.5rem 0;
    }
  }
}


 
