@use "../abstract/" as *;

.footer{
    padding: 2rem 0;
    color: $clr--light;
    &__wrapper{
        @include between;
        p{
            font-size: 20px;
        }
    }
    &__social{
        display: flex;
        gap: 2rem;

        li a{
            color: $clr--light;
            font-size: 25px;
        }
        
    }
}
@include mediaQuery(520px){
 .footer{
    padding: 1rem 0;
    &__wrapper{
        p{
            font-size: 1rem;
            gap: 3rem;
        }
    }
     &__social{
        display: flex;
        gap: 1rem;

        li a{
            color: $clr--light;
            font-size: 20px;
        }
        
    }
    
 }
}