@use "../abstract/" as *;
@use "../base/" as *;

.header {
  padding: 3rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  z-index: 1;
  &__wrapper {
    @include between;
  }

  &__logo {
    a > h4 {
      color: $clr--dark;
    }
  }

  &__nav {
    ul {
      display: flex;
      gap: 3rem;
      align-items: center;

      li a {
        font-weight: 600;
        color: $clr--dark;
      }
    }
  }

  &__nav.open ul {
    right: 0;
    transition: all 0.5s ease-in-out;

    & li a {
      color: $clr--light;
      @include centerAll();
    }
  }
}
.toggle__menu {
  display: none;

  & span {
    color: $clr--dark;
    width: 3rem;
    height: 0.3rem;
    border: 2px solid $clr--dark;
    border-radius: 1rem;
  }
  &.open span:first-child {
    transform: translate(0, 10px) rotate(228deg);
    transition: 0.5s ease;
  }
  &.open span:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
  }

  &.open span:last-child {
    transform: translate(0, -13px) rotate(-228deg);
    transition: 0.5s ease;
  }
}

@include mediaQuery(520px) {
  .header {
    width: 100%;
    position: fixed;

    &__nav ul {
      background-color: $clr--dark;
      height: 100%;
      width: 100%;
      position: fixed;
      right: -100%;
      z-index: 1;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      transition: all 0.5s ease-in-out;
      padding-top: 5rem;
    }
  }
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
